* {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary-lighter: #ffffff;
  --color-secundary: #fa4a0c;
  --color-third: #252b42;
  --color-black: #000000;
  --color-description-top-footer: #bdbdbd;
  --color-description-download-app: #f7f7f7;
  --color-sub-title-variant: #f6f6f6;
  --color-sub-title: #737373;
  --color-paragraph-footer: #5c5c5c;
}

.bg-top-main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(./assets/bg-top-main.svg);
  background-size: cover;
  height: 619px;
}

.orange-color {
  color: var(--color-secundary);
}

.header-font {
  font-family: sans-serif;
  font-size: 16px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header {
  display: flex;
  background-color: var(--color-primary-lighter);
  min-height: 125px;
}

header img {
  margin-left: 90px;
  width: 185px;
  height: 90px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 100px;
  margin-right: 50px;
  align-items: center;
}

.font-menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

.underline-remover {
  text-decoration: none;
}

.color-blue {
  color: var(--color-third);
}

.color-title {
  color: var(--color-primary-lighter);
}

.font-style-description-top-main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.title-page {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
}
.centralizer-div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-download-app {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: var(--color-description-download-app);
  margin-top: 17px;
}
.color-font-subtitle-variant {
  color: var(--color-sub-title-variant);
}
.color-description-title {
  color: #737373;
}
.downloaders-buttons {
  display: flex;
  gap: 34px;
  align-items: center;
  margin-top: 44px;
}

.downloader-button-playstore {
  width: 236px;
  height: 68px;
  background: #fa4a0c;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border: none;
}

.color-button-playstore {
  color: var(--color-primary-lighter);
}
.downloader-button-app-store {
  padding: 16px 0px;
  width: 236px;
  height: 68px;
  border-radius: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  background-color: transparent;
  border: solid 1px var(--color-primary-lighter);
}
.color-button-appstore {
  color: var(--color-primary-lighter);
}

.image-demonstration {
  position: relative;
  max-width: 548px;
  height: 640px;
  top: -125px;
  left: -30px;
}

.separetor-line-top {
  margin-left: 300px;
  margin-right: 300px;
  border: 2px solid #e4e4e4;
}

.hero-title {
  padding-top: 73px;
}
.section {
  margin-top: 72px;
  padding-left: 230px;
  padding-right: 230px;
}
.title-section-two {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  color: var(--color-black);
}

.section-three {
  display: flex;
  flex-direction: row;
  padding-left: 300px;
  padding-right: 300px;
  gap: 200px;
}
.first-paragraph-section-three {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-secundary);
  margin-bottom: 17px;
}
.second-paragraph-section-three {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: var(--color-third);
  margin-bottom: 17px;
}

.third-paragraph-section-three {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: var(--color-sub-title);
  max-width: 500px;
}

.right-side-section-three {
  text-align: start;
  max-width: 700px;
}

.image-section-three {
  width: 302px;
  height: 100%;
  margin-top: 25px;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  min-width: 1000px;
  margin-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 250px;
}

.first-paragraph-section-four {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: var(--color-secundary);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: -1px -1px 0px #000000, -1px 1px 0px #000000, 1px 0px 0px #000000;
}

.second-paragraph-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: var(--color-third);
  margin-top: 17px;
  margin-bottom: 17px;
  max-width: 500px;
}

.third-paragraph-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: var(--color-sub-title);
  max-width: 500px;
}

.section-two {
  margin-top: 60px;
}

.is-hidden-mobile {
  display: none;
}

.image-section-four {
  width: 278px;
  height: 511px;
}

.section-five {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 250px;
  margin-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
}

.first-paragraph-section-five {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: var(--color-secundary);
}

.second-paragraph-section-four-limiter-width {
  max-width: 600px;
}

.image-section-four {
  width: 278px;
  height: 511px;
}

.bg-top-bottom {
  background-image: url(./assets/footer-image.png);
  min-height: 516px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 160px;
}

.first-paragraph-top-bottom {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: var(--color-primary-lighter);
}

.second-paragraph-top-bottom {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: var(--color-primary-lighter);
  margin-top: 20px;
  margin-bottom: 60px;
}

.buttons-top-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  gap: 16px;
}

.buttom-playstore-download-top-footer {
  width: 142px;
  height: 64px;
  background: var(--color-secundary);
  border-radius: 10px;
  border: none;
}

.buttom-appstore-download-top-footer {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 17px;
  padding-top: 17px;
  width: 174px;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  border: solid 1px var(--color-primary-lighter);
}

.paragraph-button-playstore-top-footer {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: var(--color-primary-lighter);
  text-decoration: none;
}

.paragraph-button-appstore-top-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-primary-lighter);
  text-decoration: none;
}

.spacing-top-footer {
  padding: 130px 300px;
}

.version-mobile-buttons {
  display: none;
}

footer {
  display: flex;
  min-height: 223px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 400px;
}

.paragraph-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-paragraph-footer);
}

.logo-footer {
  width: 246px;
  height: 102px;
}

.social-networks-footer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 25px;
}

@media (max-width: 960px) {
  header {
    flex-direction: column;
  }
  header :first-child img {
    width: 278px;
    height: 70px;
    margin: 0;
  }

  .hero-title {
    padding-top: 50px;
  }

  .logo {
    margin-left: 0;
    gap: 0;
    justify-content: center;
    margin-bottom: 20px;
  }
  .menu {
    width: 100%;
    gap: 25px;
    margin-right: 0px;
    justify-content: center;
    font-size: 18px;
  }
  .bg-top-main {
    background-image: none;
  }
  .font-style-description-top-main {
    font-size: 16px;
  }
  .color-font-subtitle-variant {
    color: var(--color-sub-title);
  }
  .color-title {
    color: var(--color-third);
  }
  .title-page {
    font-size: 36px;
    line-height: 42px;
  }
  .description-download-app {
    color: var(--color-sub-title);
    max-width: 340px;
  }

  .downloaders-buttons {
    display: grid;
    gap: 17px;
  }

  .downloader-button-app-store {
    border: solid 1px var(--color-secundary);
  }

  .color-button-appstore {
    color: var(--color-secundary);
  }

  .separetor-line-top {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  .section-three {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-right: 0px;
    gap: 0;
  }

  .image-section-two {
    position: relative;
    width: 210px;
    left: 85px;
    margin-top: 50px;
  }

  .right-side-section-three {
    text-align: center;
    padding-left: 27px;
    padding-right: 27px;
  }

  .second-paragraph-section-three {
    font-size: 40px;
    line-height: 57px;
    max-width: 500px;
  }

  .third-paragraph-section-three {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    justify-content: center;
    max-width: none;
    padding: 0 50px;
  }

  .image-demonstration {
    max-width: 402px;
    height: 400px;
    left: 0;
    margin-top: 100px;
  }

  .title-section-two {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    top: -140px;
  }

  .section-four {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 0;
  }

  .section-four-left-side {
    min-width: 299px;
    max-width: 299px;
    margin-right: 0px;
    position: relative;
    left: 0px;
    text-align: center;
    padding-right: 0px;
  }

  .first-paragraph-section-four {
    text-shadow: none;
  }

  .second-paragraph-section-four {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .third-paragraph-section-four {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }

  .is-hidden-mobile {
    display: block;
  }

  .is-hidden-desktop {
    display: none;
  }

  .section-four-right-side {
    position: relative;
    left: 0px;
  }

  .section-five {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column-reverse;
    margin-top: 75px;
  }

  .side-written-section-five {
    text-align: center;
  }

  .side-demonstration-section-five {
    display: flex;
    justify-content: center;
  }

  .image-section-four {
    margin-top: 25px;
  }

  .first-paragraph-section-three {
    margin-bottom: 25px;
  }
  .second-paragraph-section-three {
    margin-bottom: 25px;
  }

  .second-paragraph-section-four-limiter-width {
    padding: 0 50px;
  }

  .third-paragraph-section-four-limiter-width {
    padding: 0 75px;
    margin-bottom: 25px;
  }

  .version-mobile-buttons {
    display: block;
  }

  .hidden-button {
    display: none;
  }

  .spacing-top-footer {
    padding: 0;
  }

  .bg-top-bottom {
    min-height: 564px;
    background-image: none;
    background-color: var(--color-third);
  }

  .buttom-appstore-download-top-footer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .second-paragraph-top-bottom {
    color: var(--color-description-top-footer);
    padding: 0 80px;
  }

  .first-paragraph-top-bottom {
    padding: 0 50px;
  }

  footer {
    gap: 0px;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 400px) {
  .menu {
    gap: 10px;
  }

  .buttons-top-footer {
    flex-direction: column;
  }
}
